
html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.App {
  display:flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  height: 100vh;
  background-color: #4a3aff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face{
  font-family: 'Brittany Signature';
  src:url('/public/BrittanySignature.ttf') format('truetype');
}
@font-face{
  font-family: 'Manrope-Semibold';
  src:url('/public/Manrope-SemiBold.ttf') format('truetype');
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.record{
  height: 200px;
  width: 200px;
  padding: 10px;
  border: 4px solid white;
  background-color: black;
  border-radius: 100%;
}
.imgmic{
  height: 80%;
  width:80%;
}

.heading{
  font-family:"Brittany Signature";
  font-size: 64px;
  align-self: center;
  color: white;
}

.box{
  text-align: center;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Bottom layer */
}
.contents{
  z-index: 2;
}

.desc{
  color: white;
  font-size: 14px;
  font-family: "Manrope-Semibold";
}

.player{
  width: 25%;
  height: 75%;
  align-items: center;
  justify-content: center;
  display:flex;
  gap: 3px;
  flex-direction: column;
  margin: 0 auto;
}

.player-iframe {
  filter: brightness(0.7) contrast(1.2) hue-rotate(245deg); 
  background-color: #000; 
  border-radius: 15px;
  border: none;
  display: block;
  margin: 0 auto;
}

.retbtn{
  height: 45px;
  width: 45px;
  padding: 10px;
  border: 1px solid white;
  background-color: black;
  border-radius: 100%;
  margin-top: 22px;
}

.retry{
  height: 80%;
  width:80%;
  margin-top: 2px;
}